:root{
    --main-color:white;
    --second-color:#FF7858;
    --black:rgb(23,36,50);
    --card-color:#FFF8F1;
    --font-heading:"Playfair Display",serif;
    --font-paragraph:"Rubik", sans-serif;
}

body{
    font-family: var(--font-paragraph);
}
/* header */

h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-heading);
}

header{
    background-image: url(Hero\ Section.png);
    height: 100vh;
}

nav a{
    color:var(--main-color) !important;
}

.btn-custom{
    background-color: var(--second-color);
    color:var(--main-color)
}

.Home:hover{
    border-bottom: 2px solid #FF7858;
    background-color: rgba(255, 166, 0, 0.836);
}

header p, h1{
    color: var(--main-color);
}

/* main */

h2 span{
    border-bottom: 2px solid #FF7858;
}

.img-card1{
    background-image: url(./card-img1.png);
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-card2{
    background-image: url(./card-img2.png);
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-card3{
    background-image: url(./card-img3.png);
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
}

.position-img{
    top: 450px;
    left: 25px;
    color: var(--main-color);
}